.purple {
  color: #EE82EE;
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}

#question-display {
  color : white;
}

body{
  background-image:  url("Ep7DM.gif");
}

h1{
  color: white;
}

p{
  color: white;
}

h3{
  color: white;
  font-size: 50px;
}

a:hover{
  color:green;
}
